:root {
    --black-1: #3B3936;
    --white-1: #B2BEBF;
    --white-2: #889C9B;
    --white-3: #486966;
    --rose-Esc: #26010B;
    --rose-Esc2: #59023B;
    --rose-Norm: #BF045B;
    --rose-Clar: #F28DCF;
    --rose-Clar2: #BF3F92;
}
